<div class="wrapper-inner">

  <neo-header></neo-header>

  <div class="pages d-flex"
    [class.flex-row]="settings.config.sidebarPos == 'vertical'"
    [class.flex-column]="settings.config.sidebarPos == 'horizontal'">

    <neo-navbar *ngIf="settings.config.sidebarPos == 'horizontal'
      && settings.config.isSidebarOpen == 1" class="navbar-template">
    </neo-navbar>

    <div class="route-pages">

      <router-outlet></router-outlet>

    </div>

  </div>

</div>

<neo-footer></neo-footer>

<neo-custom-app></neo-custom-app>
