<div class="login">

  <div class="login-rounded"></div>

  <div class="logincontent">
    <div class="login-identity">
      <img [src]="assets+'/img/asis-logo.svg'" alt="Logo asis app">
      <h4 class="mt-3 login-name">
        CONTROL DE ASISTENCIA DE EMPLEADOS
      </h4>
    </div>

    <form #formLogin="ngForm" class="login-form" novalidate>

      <div class="form-btns form-btns-stroke mb-5">
        <button class="btn-action btn-stroke"
          (click)="goExit( formLogin )">
          Salida
        </button>
        <button class="btn-action btn-stroke"
          (click)="goArrival( formLogin )">
          Llegada
        </button>
      </div>

      <div class="form_inputs">

        <div class="form-inputs_content mb-3">
          <div class="form-inputs_input">
            <i class="fas fa-user-circle icon-left"></i>
            <input type="text" placeholder="Usuario"
              #username="ngModel" name="username"
              [(ngModel)]="user.username" required />
          </div>
          <span class="error-forms"
            *ngIf="username.dirty && username.invalid">
            El usuario es requerido <i class="fa fa-info-circle"></i>
          </span>
        </div>

        <div class="form-inputs_content">
          <div class="form-inputs_input">
            <i class="fas fa-lock icon-left"></i>
            <input type="password" placeholder="Contraseña"
              #password="ngModel" name="password"
              [(ngModel)]="user.password" required />
            <i class="fas fa-eye c-pointer icon-right"></i>
          </div>
          <span class="error-forms"
            *ngIf="password.dirty && password.invalid">
            La contraseña es requerida <i class="fa fa-info-circle"></i>
          </span>
        </div>

      </div>

      <div class="form-btns mt-5">
        <button class="btn-action btn-login"
          (click)="goLogin( formLogin )">
          Iniciar sesión
        </button>
      </div>
    </form>

    <div class="login-footer">
      <strong>
        Copyright ©. Todos los derechos reservados 2019.
        <i>by: César Gómez</i>
      </strong>
      <strong><i>v{{ settings.version }}</i></strong>
    </div>
  </div>

</div>
