@import '../../../assets/sass/variables';

.sidebar {
  height: 100%;

  & .sidebar-title {
    width: 100%;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 0.8rem;
  }

  & .sidebar-menu {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-bottom: $footer-height;

    & .sidebar-menu-item {
      padding: 0;

      & div {
        display: flex;
        flex-wrap: nowrap;

        & span:first-child,
        & a:first-child {
          width: 100%;
          padding: 0 1.1rem;
        }

        & .hasitems-menu,
        & .hasitems-menu .icon-txtmenu {
          display: flex;
          align-items: center;
        }

        & .hasitems-menu {
          justify-content: space-between;
        }
      }

      &.only-icons {
        display: flex;
        flex-wrap: nowrap;

        & div {
          width: 100%;

          & span:first-child,
          & a:first-child {
            text-align: center;
          }

          & .hasitems-menu {
            & .caretmenu {
              justify-content: flex-end;
            }
          }
        }
      }
    }
  }
}
