html,
body {
  height: 100%;
  font-family: $font-family;
}

#maincontent { font-size: $fontsize-main; }

* {
  margin: 0;
  padding: 0;
}

.neo-app, #maincontent {

  background-color: #f5f5f5;
  height: 100%;

  .wrapper { height: 100% }

  &.neo-light {
    @import "themes/neolight";
    @import "theme";
  }

  &.neo-dark {
    @import "themes/neodark";
    @import "theme";
  }

  button { outline: none; }

  // HEADER
  &.header-fixed {
    & .header {
      position: fixed;
    }

    & .pages {
      padding-top: $header-height;
      min-height: 100vh;
    }
  }

  // FOOTER
  &.footer-fixed {
    & .footer {
      position: fixed;
      width: 100%;
      bottom: 0;
    }

    & .wrapper-inner {
      margin-bottom: $footer-height;
    }
  }

  // CUSTOM APP COMPONENT
  & .radiogroup-vertical {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    & .o-radio {
      .mat-radio-label {
        justify-content: space-between !important;
      }
    }
  }

  & .slidetoggle-between {
    & .switch {
      width: 100%;
      margin-bottom: 0.5rem;
      & .mat-slide-toggle-label {
        justify-content: space-between !important;
      }
    }
  }

}
