/**** APPLICATION ****/
$font-family: 'Santander', sans-serif;
$fontsize-main: 14px;

$header-height: 3rem;

$footer-height: 2rem;

$focus-border: rgba(102, 102, 102, 0.6);
$normal-border: #ced4da;
$separator-border: #eaeaea;
